ul {
  list-style: none
}

#origins > li {
  border-bottom: 1px solid silver;
  height: 2em;
  margin-right: 5%;
  margin-top: 1em;
}

#origins > li > button {
  height: 100%;
  width: 2em;
  float: right;
  background-image: url("deleteButton.png");
  background-size: cover;
  background-position: center center;
  border: none;
}

/* Dark mode */
body.dark {
  background: rgb(41,42,45);
  color: rgb(232, 234, 237);
}