/* Remove all margins to make window properly fit the contents */
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h1, h2, h3, p {
	margin: 0;
	padding: 5px;
	padding-top: 10px;
}

/* Size of the window on non-restricted pages */
#content {
	height: 600px;
	width: 600px;
}

/* Style of the main menu */
#main-menu {
	width: 50%;
	height: 100%;
	float: left;
	background-color: #eeeeee;
	cursor: pointer;
}

/* Style of the Details section */
#details {
	width: 50%;
	height: 100%;
	float: right;
	position: relative;
}

.main-menu-item {
	padding-left: 10px;
	padding-right: 10px;
	transition: background-color 0.5s;
}

.main-menu-item:not(.main-menu-item--active):hover {
	background-color: #ffe6b3;
	transition: background-color 0.1s;
}

.main-menu-item-small {
	height: 10%;
}

.main-menu-item-large {
	height: 30%;
}

/* The style modifier for selecter main menu item */
.main-menu-item--active {
	background-color: #ffcc66;
	transition: background-color 0.5s;
}

.main-menu-item > h2 {
	margin: 0;
	padding: 5px;
	padding-top: 10px;
}

/* Unselected details section is hidden */
.details-item {
	display: none;
}

/* Style of the selected details section */
.details-item--active {
	display: block;
	height: 100%;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	overflow: auto;
}

/* The "informaton" button in the main menu */
.info{
	width: 1em;
	float: right;
	cursor: help;
}

/*
 * COLLAPSIBLE LISTS
 */

.list-collapsible {
	list-style: none;
	padding-inline-start: 1em;
}

.list-collapsible > li > ul{
	display:none
}

.list-collapsible--active > ul {
	display:block !important
}

/*
 * The look of the drop-down indicator
 * on the left of collapsible list item
 * in CLOSED position
 */
.list-collapsible > li::before {
	background-image: url("/includes/fontawesome/caret-right.svg");
	background-size: 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	content:"";
}

/* The look of the drop-down indicator
 * on the left of collapsible list item
 * in OPEN position
 */
ul.list-collapsible > li.list-collapsible--active::before {
	background-image: url("/includes/fontawesome/caret-down.svg");
	background-size: 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	content:"";
}

/* The icon to the right of the domain name in the list
 * Can be one of "secure", "enabled", "disabled", "insecure"
 */

li.list-domain > a::after {
	background-size: 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	content:"";
}

li.list-domain--secure > a::after {
	background-image: url("/includes/fontawesome/check.svg");
}

li.list-domain--enabled > a::after {
	background-image: url("/includes/fontawesome/lock.svg");
}

li.list-domain--disabled > a::after {
	background-image: url("/includes/fontawesome/unlock.svg");
}

li.list-domain--insecure > a::after {
	background-image: url("/includes/fontawesome/exclamation-triangle.svg");
}
