body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#content {
	height: 600px;
	width: 600px;
}

#main-menu {
	width: 50%;
	height: 100%;
	float: left;
	background-color: #eeeeee;
}

#details {
	width: 50%;
	height: 100%;
	float: right;
	position: relative;
}

.main-menu-item {
	padding-left: 10px;
	padding-right: 10px;
	transition: background-color 0.5s;
}

.main-menu-item:not(.main-menu-item--active):hover {
	background-color: #ffe6b3;
	transition: background-color 0.1s;
}

.main-menu-item-small {
	height: 10%;
}

.main-menu-item-large {
	height: 30%;
}

.main-menu-item--active {
	background-color: #ffcc66;
	transition: background-color 0.5s;
}

.main-menu-item > h2 {
	margin: 0;
	padding: 5px;
	padding-top: 10px;
}

h1, h2, h3, p {
	margin: 0;
	padding: 5px;
	padding-top: 10px;
}


.details-item {
	display: none;
}

.details-item--active {
	display: block;
	height: 100%;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	overflow: auto;
}

.info{
	width: 1em;
	float: right;
}